<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="text/html; charset=UTF-8" http-equiv="content-type">
    <title>table data</title>
    <link rel="stylesheet" type="text/css" href="../static/preview_table.css">
</head>

<body>
    <div class="c121 doc-content">
        <p class="c0"><span class="c140"></span></p><a id="t.c436b618d80e308f9a3d611d274d466ec3bab21c"></a><a id="t.0"></a>
        <table class="c11">
            <tr class="c82">
                <td class="c51" colspan="19" rowspan="1">
                    <p class="c4"><span class="c78 c202">PAAVAI ENGINEERING COLLEGE </span></p>
                    <p class="c4"><span class="c78">(Autonomous)</span></p>
                </td>
            </tr>
            <tr class="c82">
                <td class="c51" colspan="19" rowspan="1">
                    <p class="c4"><span class="c2">NH-44, Pachal, Namakkal &ndash; 637 018.</span></p>
                </td>
            </tr>
            <tr class="c82">
                <td class="c129" colspan="1" rowspan="1">
                    <p class="c0"><span class="c2"></span></p>
                </td>
                <td class="c44" colspan="2" rowspan="1">
                    <p class="c0"><span class="c2"></span></p>
                </td>
                <td class="c170" colspan="1" rowspan="1">
                    <p class="c0"><span class="c2"></span></p>
                </td>
                <td class="c203" colspan="2" rowspan="1">
                    <p class="c0"><span class="c2"></span></p>
                </td>
                <td class="c165" colspan="7" rowspan="1">
                    <p class="c0"><span class="c2"></span></p>
                </td>
                <td class="c99" colspan="3" rowspan="1">
                    <p class="c0"><span class="c2"></span></p>
                </td>
                <td class="c52" colspan="3" rowspan="1">
                    <p class="c0"><span class="c2"></span></p>
                </td>
            </tr>
            <tr class="c82">
                <td class="c51" colspan="19" rowspan="1">
                    <p class="c4"><span class="c29">FUNCTION APPROVAL FORM</span></p>
                </td>
            </tr>
            <tr class="c82">
                <td class="c129" colspan="1" rowspan="1">
                    <p class="c4 c17"><span class="c18"></span></p>
                </td>
                <td class="c90" colspan="1" rowspan="1">
                    <p class="c4 c17"><span class="c18"></span></p>
                </td>
                <td class="c130" colspan="1" rowspan="1">
                    <p class="c4 c17"><span class="c18"></span></p>
                </td>
                <td class="c171" colspan="3" rowspan="1">
                    <p class="c4 c17"><span class="c18"></span></p>
                </td>
                <td class="c165" colspan="7" rowspan="1">
                    <p class="c4 c17"><span class="c18"></span></p>
                </td>
                <td class="c99" colspan="3" rowspan="1">
                    <p class="c0"><span class="c2"></span></p>
                </td>
                <td class="c52" colspan="3" rowspan="1">
                    <p class="c8"><span class="c2">Date:</span></p>
                </td>
            </tr>
            <tr class="c82">
                <td class="c61" colspan="1" rowspan="1">
                    <p class="c4 c17"><span class="c18"></span></p>
                </td>
                <td class="c230" colspan="1" rowspan="1">
                    <p class="c4 c17"><span class="c18"></span></p>
                </td>
                <td class="c196" colspan="1" rowspan="1">
                    <p class="c4 c17"><span class="c18"></span></p>
                </td>
                <td class="c190" colspan="3" rowspan="1">
                    <p class="c4 c17"><span class="c18"></span></p>
                </td>
                <td class="c119" colspan="7" rowspan="1">
                    <p class="c4 c17"><span class="c18"></span></p>
                </td>
                <td class="c74" colspan="3" rowspan="1">
                    <p class="c0"><span class="c2"></span></p>
                </td>
                <td class="c209" colspan="3" rowspan="1">
                    <p class="c0"><span class="c2"></span></p>
                </td>
            </tr>
            <tr class="c25">
                <td class="c41" colspan="2" rowspan="1">
                    <p class="c8"><span class="c2">Organizing Department</span></p>
                </td>
                <td class="c234" colspan="7" rowspan="1">
                    <p class="c0"><span class="c2"></span></p>
                </td>
                <td class="c188" colspan="10" rowspan="1">
                    <p class="c8"><span class="c2">Name of the HOD :</span></p>
                </td>
            </tr>
            <tr class="c25">
                <td class="c41" colspan="2" rowspan="1">
                    <p class="c8"><span class="c2">Participating Department/College</span></p>
                </td>
                <td class="c126" colspan="17" rowspan="1">
                    <p class="c0"><span class="c2"></span></p>
                </td>
            </tr>
            <tr class="c25">
                <td class="c41" colspan="2" rowspan="1">
                    <p class="c8"><span class="c2">Title/ Topic</span></p>
                </td>
                <td class="c147" colspan="13" rowspan="1">
                    <p class="c0"><span class="c2"></span></p>
                </td>
                <td class="c134" colspan="4" rowspan="1">
                    <p class="c8"><span class="c2">Online/Offline</span></p>
                </td>
            </tr>
            <tr class="c25">
                <td class="c41" colspan="2" rowspan="4">
                    <p class="c8"><span class="c2">Name of the Chief Guest,<br>Designation and Address<br>with mail ID and
                            <br>Mobile Number</span></p>
                </td>
                <td class="c164" colspan="10" rowspan="4">
                    <p class="c0"><span class="c2"></span></p>
                </td>
                <td class="c175" colspan="7" rowspan="1">
                    <p class="c4"><span class="c29">Paavai Alumini</span></p>
                </td>
            </tr>
            <tr class="c25">
                <td class="c153" colspan="2" rowspan="1">
                    <p class="c8"><span class="c2">Batch &nbsp; &nbsp; &nbsp; &nbsp;</span></p>
                </td>
                <td class="c28" colspan="4" rowspan="1">
                    <p class="c8"><span class="c2">20</span></p>
                </td>
                <td class="c33" colspan="1" rowspan="1">
                    <p class="c8"><span class="c2">20</span></p>
                </td>
            </tr>
            <tr class="c25">
                <td class="c153" colspan="2" rowspan="1">
                    <p class="c8"><span class="c2">College Name</span></p>
                </td>
                <td class="c85" colspan="5" rowspan="1">
                    <p class="c0"><span class="c18"></span></p>
                </td>
            </tr>
            <tr class="c25">
                <td class="c153" colspan="2" rowspan="1">
                    <p class="c8"><span class="c2">Alumini Series Publish Website </span></p>
                </td>
                <td class="c28" colspan="4" rowspan="1">
                    <p class="c8"><span class="c2">Tick </span></p>
                </td>
                <td class="c33" colspan="1" rowspan="1">
                    <p class="c4 c17"><span class="c18"></span></p>
                </td>
            </tr>
            <tr class="c25">
                <td class="c41" colspan="2" rowspan="1">
                    <p class="c8"><span class="c2">Name of the Staff Coordinator</span></p>
                </td>
                <td class="c159" colspan="8" rowspan="1">
                    <p class="c0"><span class="c2"></span></p>
                </td>
                <td class="c95" colspan="9" rowspan="1">
                    <p class="c135"><span class="c2">Student &nbsp;Coordinator :</span></p>
                </td>
            </tr>
            <tr class="c25">
                <td class="c41" colspan="2" rowspan="1">
                    <p class="c8"><span class="c2">Name of the Staff Rapporteur</span></p>
                </td>
                <td class="c159" colspan="8" rowspan="1">
                    <p class="c0"><span class="c2"></span></p>
                </td>
                <td class="c95" colspan="9" rowspan="1">
                    <p class="c135"><span class="c2">Student Rapporteur &nbsp; :</span></p>
                </td>
            </tr>
            <tr class="c25">
                <td class="c41" colspan="2" rowspan="1">
                    <p class="c8"><span class="c2">Type of the function</span></p>
                </td>
                <td class="c126" colspan="17" rowspan="1">
                    <p class="c8"><span class="c2">Guest Lecture / Seminar / Workshop / Symposium / Conference</span></p>
                    <p class="c8"><span class="c2">Any other Specify:</span></p>
                </td>
            </tr>
            <tr class="c25">
                <td class="c41" colspan="2" rowspan="1">
                    <p class="c8"><span class="c2">Level of the function</span></p>
                </td>
                <td class="c126" colspan="17" rowspan="1">
                    <p class="c8"><span class="c2">Department / Institution / State Level / National / International</span>
                    </p>
                </td>
            </tr>
            <tr class="c25">
                <td class="c41" colspan="2" rowspan="1">
                    <p class="c8"><span class="c2">Type of Participants</span></p>
                </td>
                <td class="c126" colspan="17" rowspan="1">
                    <p class="c8"><span class="c2">Students / Faculty / Industry/ Public/ Any other</span></p>
                </td>
            </tr>
            <tr class="c25">
                <td class="c41" colspan="2" rowspan="1">
                    <p class="c8"><span class="c2">Number of Participants</span></p>
                </td>
                <td class="c49" colspan="6" rowspan="1">
                    <p class="c0"><span class="c2"></span></p>
                </td>
                <td class="c232" colspan="11" rowspan="5">
                    <p class="c4"><span class="c29">Outcome / objectives behind the event</span></p>
                </td>
            </tr>
            <tr class="c19">
                <td class="c41" colspan="2" rowspan="1">
                    <p class="c8"><span class="c2">Number of Days</span></p>
                </td>
                <td class="c49" colspan="6" rowspan="1">
                    <p class="c0"><span class="c2"></span></p>
                </td>
            </tr>
            <tr class="c19">
                <td class="c41" colspan="2" rowspan="1">
                    <p class="c8"><span class="c2">Date</span></p>
                </td>
                <td class="c49" colspan="6" rowspan="1">
                    <p class="c0"><span class="c2"></span></p>
                </td>
            </tr>
            <tr class="c19">
                <td class="c41" colspan="2" rowspan="1">
                    <p class="c8"><span class="c2">Time</span></p>
                </td>
                <td class="c49" colspan="6" rowspan="1">
                    <p class="c0"><span class="c2"></span></p>
                </td>
            </tr>
            <tr class="c19">
                <td class="c41" colspan="2" rowspan="1">
                    <p class="c8"><span class="c2">Venue</span></p>
                </td>
                <td class="c49" colspan="6" rowspan="1">
                    <p class="c0"><span class="c2"></span></p>
                </td>
            </tr>
            <tr class="c25">
                <td class="c41" colspan="2" rowspan="1">
                    <p class="c8"><span class="c2">Teaching Aids Required</span></p>
                </td>
                <td class="c192" colspan="5" rowspan="1">
                    <p class="c8"><span class="c2">Audio System</span></p>
                </td>
                <td class="c77" colspan="1" rowspan="1">
                    <p class="c8"><span class="c2">No. of Mics</span></p>
                </td>
                <td class="c132" colspan="3" rowspan="1">
                    <p class="c0"><span class="c2"></span></p>
                </td>
                <td class="c132" colspan="2" rowspan="1">
                    <p class="c8"><span class="c2">OHP</span></p>
                </td>
                <td class="c229" colspan="4" rowspan="1">
                    <p class="c8"><span class="c2">LCD Projector</span></p>
                </td>
                <td class="c200" colspan="2" rowspan="1">
                    <p class="c8"><span class="c2">Screen</span></p>
                </td>
            </tr>
            <tr class="c25">
                <td class="c41" colspan="2" rowspan="1">
                    <p class="c8"><span class="c2">Recording Mode</span></p>
                </td>
                <td class="c14" colspan="3" rowspan="1">
                    <p class="c8"><span class="c2">Photo</span></p>
                </td>
                <td class="c13" colspan="2" rowspan="1">
                    <p class="c8"><span class="c2">Audio</span></p>
                </td>
                <td class="c77" colspan="1" rowspan="1">
                    <p class="c8"><span class="c2">Video</span></p>
                </td>
                <td class="c149" colspan="11" rowspan="1">
                    <p class="c0"><span class="c2"></span></p>
                </td>
            </tr>
        </table>
        <p class="c4 c17"><span class="c237"></span></p>
        <p class="c4"><span class="c29">CHECK LIST OF THE FUNCTION</span></p>
        <p class="c8"><span class="c29">A) BEFORE FUNCTION </span></p>
        <p class="c8"><span class="c226">z</span></p><a id="t.409bc6aa73e244b17dbf6b5c742f20126457b9c7"></a><a id="t.1"></a>
        <table class="c11">
            <tr class="c133">
                <td class="c26" colspan="1" rowspan="1">
                    <p class="c4"><span class="c38">S.</span></p>
                    <p class="c4"><span class="c38">No.</span></p>
                </td>
                <td class="c87" colspan="1" rowspan="1">
                    <p class="c4"><span class="c38">Activities</span></p>
                </td>
                <td class="c91" colspan="1" rowspan="1">
                    <p class="c4"><span class="c38">Name of the staff Incharge </span></p>
                </td>
                <td class="c22" colspan="1" rowspan="1">
                    <p class="c4"><span class="c38">Signature </span></p>
                </td>
                <td class="c59" colspan="1" rowspan="1">
                    <p class="c4"><span class="c38">Status</span></p>
                    <p class="c4"><span class="c38">(Y/N)</span></p>
                </td>
                <td class="c115" colspan="1" rowspan="1">
                    <p class="c4"><span class="c38">Date</span></p>
                </td>
            </tr>
            <tr class="c19">
                <td class="c26" colspan="1" rowspan="1">
                    <p class="c4"><span class="c2">1</span></p>
                </td>
                <td class="c87" colspan="1" rowspan="1">
                    <p class="c8"><span class="c2">Information given to the Participants </span></p>
                </td>
                <td class="c91" colspan="1" rowspan="1">
                    <p class="c0"><span class="c2"></span></p>
                </td>
                <td class="c22" colspan="1" rowspan="1">
                    <p class="c0"><span class="c2"></span></p>
                </td>
                <td class="c59" colspan="1" rowspan="1">
                    <p class="c0"><span class="c2"></span></p>
                </td>
                <td class="c115" colspan="1" rowspan="1">
                    <p class="c0"><span class="c2"></span></p>
                </td>
            </tr>
            <tr class="c131">
                <td class="c26" colspan="1" rowspan="1">
                    <p class="c4"><span class="c2">2</span></p>
                </td>
                <td class="c87" colspan="1" rowspan="1">
                    <p class="c8"><span class="c2">Inform to News Paper </span></p>
                    <p class="c8"><span class="c2">&lsquo;Todays Engagements&rsquo; </span></p>
                </td>
                <td class="c91" colspan="1" rowspan="1">
                    <p class="c0"><span class="c2"></span></p>
                </td>
                <td class="c22" colspan="1" rowspan="1">
                    <p class="c0"><span class="c2"></span></p>
                </td>
                <td class="c59" colspan="1" rowspan="1">
                    <p class="c0"><span class="c2"></span></p>
                </td>
                <td class="c115" colspan="1" rowspan="1">
                    <p class="c0"><span class="c2"></span></p>
                </td>
            </tr>
            <tr class="c19">
                <td class="c26" colspan="1" rowspan="1">
                    <p class="c4"><span class="c2">3</span></p>
                </td>
                <td class="c87" colspan="1" rowspan="1">
                    <p class="c8"><span class="c2">Inform to Web Master </span></p>
                </td>
                <td class="c91" colspan="1" rowspan="1">
                    <p class="c0"><span class="c2"></span></p>
                </td>
                <td class="c22" colspan="1" rowspan="1">
                    <p class="c0"><span class="c2"></span></p>
                </td>
                <td class="c59" colspan="1" rowspan="1">
                    <p class="c0"><span class="c2"></span></p>
                </td>
                <td class="c115" colspan="1" rowspan="1">
                    <p class="c0"><span class="c2"></span></p>
                </td>
            </tr>
            <tr class="c19">
                <td class="c26" colspan="1" rowspan="1">
                    <p class="c4"><span class="c2">4</span></p>
                </td>
                <td class="c87" colspan="1" rowspan="1">
                    <p class="c8"><span class="c2">Invitation sent to all </span></p>
                </td>
                <td class="c91" colspan="1" rowspan="1">
                    <p class="c0"><span class="c2"></span></p>
                </td>
                <td class="c22" colspan="1" rowspan="1">
                    <p class="c0"><span class="c2"></span></p>
                </td>
                <td class="c59" colspan="1" rowspan="1">
                    <p class="c0"><span class="c2"></span></p>
                </td>
                <td class="c115" colspan="1" rowspan="1">
                    <p class="c0"><span class="c2"></span></p>
                </td>
            </tr>
            <tr class="c19">
                <td class="c26" colspan="1" rowspan="1">
                    <p class="c4"><span class="c2">5</span></p>
                </td>
                <td class="c87" colspan="1" rowspan="1">
                    <p class="c8"><span class="c2">Hall Arrangements</span></p>
                </td>
                <td class="c91" colspan="1" rowspan="1">
                    <p class="c0"><span class="c2"></span></p>
                </td>
                <td class="c22" colspan="1" rowspan="1">
                    <p class="c0"><span class="c2"></span></p>
                </td>
                <td class="c59" colspan="1" rowspan="1">
                    <p class="c0"><span class="c2"></span></p>
                </td>
                <td class="c115" colspan="1" rowspan="1">
                    <p class="c0"><span class="c2"></span></p>
                </td>
            </tr>
            <tr class="c19">
                <td class="c26" colspan="1" rowspan="1">
                    <p class="c4"><span class="c2">6</span></p>
                </td>
                <td class="c87" colspan="1" rowspan="1">
                    <p class="c8"><span class="c2">Inform to photographer </span></p>
                </td>
                <td class="c91" colspan="1" rowspan="1">
                    <p class="c0"><span class="c2"></span></p>
                </td>
                <td class="c22" colspan="1" rowspan="1">
                    <p class="c0"><span class="c2"></span></p>
                </td>
                <td class="c59" colspan="1" rowspan="1">
                    <p class="c0"><span class="c2"></span></p>
                </td>
                <td class="c115" colspan="1" rowspan="1">
                    <p class="c0"><span class="c2"></span></p>
                </td>
            </tr>
            <tr class="c19">
                <td class="c26" colspan="1" rowspan="1">
                    <p class="c4"><span class="c2">7</span></p>
                </td>
                <td class="c87" colspan="1" rowspan="1">
                    <p class="c8"><span class="c2">Agenda Preparation &amp; Approval</span></p>
                </td>
                <td class="c91" colspan="1" rowspan="1">
                    <p class="c0"><span class="c2"></span></p>
                </td>
                <td class="c22" colspan="1" rowspan="1">
                    <p class="c0"><span class="c2"></span></p>
                </td>
                <td class="c59" colspan="1" rowspan="1">
                    <p class="c0"><span class="c2"></span></p>
                </td>
                <td class="c115" colspan="1" rowspan="1">
                    <p class="c0"><span class="c2"></span></p>
                </td>
            </tr>
            <tr class="c19">
                <td class="c26" colspan="1" rowspan="1">
                    <p class="c4"><span class="c2">8</span></p>
                </td>
                <td class="c87" colspan="1" rowspan="1">
                    <p class="c8"><span class="c2">Flux, Stage arrangements</span></p>
                </td>
                <td class="c91" colspan="1" rowspan="1">
                    <p class="c0"><span class="c2"></span></p>
                </td>
                <td class="c22" colspan="1" rowspan="1">
                    <p class="c0"><span class="c2"></span></p>
                </td>
                <td class="c59" colspan="1" rowspan="1">
                    <p class="c0"><span class="c2"></span></p>
                </td>
                <td class="c115" colspan="1" rowspan="1">
                    <p class="c0"><span class="c2"></span></p>
                </td>
            </tr>
            <tr class="c19">
                <td class="c26" colspan="1" rowspan="1">
                    <p class="c4"><span class="c2">9</span></p>
                </td>
                <td class="c87" colspan="1" rowspan="1">
                    <p class="c8"><span class="c2">Reception </span></p>
                </td>
                <td class="c91" colspan="1" rowspan="1">
                    <p class="c0"><span class="c2"></span></p>
                </td>
                <td class="c22" colspan="1" rowspan="1">
                    <p class="c0"><span class="c2"></span></p>
                </td>
                <td class="c59" colspan="1" rowspan="1">
                    <p class="c0"><span class="c2"></span></p>
                </td>
                <td class="c115" colspan="1" rowspan="1">
                    <p class="c0"><span class="c2"></span></p>
                </td>
            </tr>
            <tr class="c131">
                <td class="c26" colspan="1" rowspan="1">
                    <p class="c4"><span class="c2">10</span></p>
                </td>
                <td class="c87" colspan="1" rowspan="1">
                    <p class="c8"><span class="c2">Water &amp; Other Provisions </span><span
                            style="overflow: hidden; display: inline-block; margin: 0.00px 0.00px; border: 0.00px solid #000000; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px); width: 10.53px; height: 53.53px;"><img
                                alt="" src="images/image2.png"
                                style="width: 10.53px; height: 53.53px; margin-left: 0.00px; margin-top: 0.00px; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px);"
                                title=""></span></p>
                </td>
                <td class="c91" colspan="1" rowspan="1">
                    <p class="c0"><span class="c2"></span></p>
                </td>
                <td class="c22" colspan="1" rowspan="1">
                    <p class="c0"><span class="c2"></span></p>
                </td>
                <td class="c59" colspan="1" rowspan="1">
                    <p class="c0"><span class="c2"></span></p>
                </td>
                <td class="c115" colspan="1" rowspan="1">
                    <p class="c0"><span class="c2"></span></p>
                </td>
            </tr>
            <tr class="c131">
                <td class="c26" colspan="1" rowspan="1">
                    <p class="c4"><span class="c2">11</span></p>
                </td>
                <td class="c87" colspan="1" rowspan="1">
                    <p class="c8"><span class="c2">Refreshments &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                            &nbsp; &nbsp; &nbsp; &nbsp; (if needed)</span></p>
                </td>
                <td class="c91" colspan="1" rowspan="1">
                    <p class="c0"><span class="c2"></span></p>
                </td>
                <td class="c22" colspan="1" rowspan="1">
                    <p class="c0"><span class="c2"></span></p>
                </td>
                <td class="c59" colspan="1" rowspan="1">
                    <p class="c0"><span class="c2"></span></p>
                </td>
                <td class="c115" colspan="1" rowspan="1">
                    <p class="c0"><span class="c2"></span></p>
                </td>
            </tr>
            <tr class="c131">
                <td class="c26" colspan="1" rowspan="1">
                    <p class="c4"><span class="c2">12</span></p>
                </td>
                <td class="c87" colspan="1" rowspan="1">
                    <p class="c8"><span class="c2">Lunch</span></p>
                </td>
                <td class="c91" colspan="1" rowspan="1">
                    <p class="c0"><span class="c2"></span></p>
                </td>
                <td class="c22" colspan="1" rowspan="1">
                    <p class="c0"><span class="c2"></span></p>
                </td>
                <td class="c59" colspan="1" rowspan="1">
                    <p class="c0"><span class="c2"></span></p>
                </td>
                <td class="c115" colspan="1" rowspan="1">
                    <p class="c0"><span class="c2"></span></p>
                </td>
            </tr>
        </table>
        <p class="c17 c118"><span class="c60"></span></p>
        <p class="c118"><span class="c2">Page 1of 2</span></p>
        <hr style="page-break-before:always;display:none;">
        <p class="c4"><span class="c29">BUDGET</span></p>
        <p class="c8"><span class="c38">A) Expenditure Details</span></p>
        <p class="c0"><span class="c223"></span></p><a id="t.391ceabfc2cbe540e4828ee0f4f8de83410ba8ab"></a><a id="t.2"></a>
        <table class="c11">
            <tr class="c9">
                <td class="c39" colspan="1" rowspan="1">
                    <p class="c4"><span class="c38">S.No.</span></p>
                </td>
                <td class="c182" colspan="1" rowspan="1">
                    <p class="c4"><span class="c38">ITEMS</span></p>
                </td>
                <td class="c105" colspan="1" rowspan="1">
                    <p class="c4"><span class="c38">ESTIMATED</span></p>
                </td>
                <td class="c125" colspan="1" rowspan="1">
                    <p class="c4"><span class="c38">ACTUAL</span></p>
                </td>
                <td class="c199" colspan="1" rowspan="1">
                    <p class="c4"><span class="c38">REMARKS</span></p>
                </td>
            </tr>
            <tr class="c9">
                <td class="c39" colspan="1" rowspan="1">
                    <p class="c4"><span class="c2">1</span></p>
                </td>
                <td class="c88" colspan="1" rowspan="1">
                    <p class="c8"><span class="c2">Reception</span></p>
                </td>
                <td class="c45" colspan="1" rowspan="1">
                    <p class="c0"><span class="c2"></span></p>
                </td>
                <td class="c97" colspan="1" rowspan="1">
                    <p class="c0"><span class="c2"></span></p>
                </td>
                <td class="c113" colspan="1" rowspan="1">
                    <p class="c0"><span class="c2"></span></p>
                </td>
            </tr>
            <tr class="c9">
                <td class="c39" colspan="1" rowspan="1">
                    <p class="c4"><span class="c2">2</span></p>
                </td>
                <td class="c88" colspan="1" rowspan="1">
                    <p class="c8"><span class="c2">Rangoli</span></p>
                </td>
                <td class="c45" colspan="1" rowspan="1">
                    <p class="c0"><span class="c2"></span></p>
                </td>
                <td class="c97" colspan="1" rowspan="1">
                    <p class="c0"><span class="c2"></span></p>
                </td>
                <td class="c113" colspan="1" rowspan="1">
                    <p class="c0"><span class="c2"></span></p>
                </td>
            </tr>
            <tr class="c9">
                <td class="c39" colspan="1" rowspan="1">
                    <p class="c4"><span class="c2">3</span></p>
                </td>
                <td class="c88" colspan="1" rowspan="1">
                    <p class="c8"><span class="c2">Memento to the Chief Guest</span></p>
                </td>
                <td class="c45" colspan="1" rowspan="1">
                    <p class="c0"><span class="c2"></span></p>
                </td>
                <td class="c97" colspan="1" rowspan="1">
                    <p class="c0"><span class="c2"></span></p>
                </td>
                <td class="c113" colspan="1" rowspan="1">
                    <p class="c0"><span class="c2"></span></p>
                </td>
            </tr>
            <tr class="c9">
                <td class="c39" colspan="1" rowspan="1">
                    <p class="c4"><span class="c2">4</span></p>
                </td>
                <td class="c88" colspan="1" rowspan="1">
                    <p class="c8"><span class="c2">Honorarium to the Chief Guest</span></p>
                </td>
                <td class="c45" colspan="1" rowspan="1">
                    <p class="c0"><span class="c2"></span></p>
                </td>
                <td class="c97" colspan="1" rowspan="1">
                    <p class="c0"><span class="c2"></span></p>
                </td>
                <td class="c113" colspan="1" rowspan="1">
                    <p class="c0"><span class="c2"></span></p>
                </td>
            </tr>
            <tr class="c9">
                <td class="c39" colspan="1" rowspan="1">
                    <p class="c4"><span class="c2">5</span></p>
                </td>
                <td class="c88" colspan="1" rowspan="1">
                    <p class="c8"><span class="c2">Refreshment to the participants</span></p>
                </td>
                <td class="c45" colspan="1" rowspan="1">
                    <p class="c0"><span class="c2"></span></p>
                </td>
                <td class="c97" colspan="1" rowspan="1">
                    <p class="c0"><span class="c2"></span></p>
                </td>
                <td class="c113" colspan="1" rowspan="1">
                    <p class="c0"><span class="c2"></span></p>
                </td>
            </tr>
            <tr class="c9">
                <td class="c39" colspan="1" rowspan="1">
                    <p class="c4"><span class="c2">6</span></p>
                </td>
                <td class="c88" colspan="1" rowspan="1">
                    <p class="c8"><span class="c2">Brochure, Invitation, Certificates, flux, etc..</span></p>
                </td>
                <td class="c45" colspan="1" rowspan="1">
                    <p class="c0"><span class="c2"></span></p>
                </td>
                <td class="c97" colspan="1" rowspan="1">
                    <p class="c0"><span class="c2"></span></p>
                </td>
                <td class="c113" colspan="1" rowspan="1">
                    <p class="c0"><span class="c2"></span></p>
                </td>
            </tr>
            <tr class="c9">
                <td class="c39" colspan="1" rowspan="1">
                    <p class="c4"><span class="c2">7</span></p>
                </td>
                <td class="c88" colspan="1" rowspan="1">
                    <p class="c8"><span class="c2">Travelling / Boarding and lodging for CG</span></p>
                </td>
                <td class="c45" colspan="1" rowspan="1">
                    <p class="c0"><span class="c2"></span></p>
                </td>
                <td class="c97" colspan="1" rowspan="1">
                    <p class="c0"><span class="c2"></span></p>
                </td>
                <td class="c113" colspan="1" rowspan="1">
                    <p class="c0"><span class="c2"></span></p>
                </td>
            </tr>
            <tr class="c9">
                <td class="c212" colspan="2" rowspan="1">
                    <p class="c4"><span class="c38">Total</span></p>
                </td>
                <td class="c45" colspan="1" rowspan="1">
                    <p class="c0"><span class="c2"></span></p>
                </td>
                <td class="c97" colspan="1" rowspan="1">
                    <p class="c0"><span class="c2"></span></p>
                </td>
                <td class="c113" colspan="1" rowspan="1">
                    <p class="c0"><span class="c2"></span></p>
                </td>
            </tr>
        </table>
        <p class="c0"><span class="c68"></span></p>
        <p class="c8"><span class="c38">B) Source of Funds</span></p>
        <p class="c0"><span class="c107"></span></p><a id="t.aea9c4b230f8b520840e66c1acdbd689dd552c1e"></a><a id="t.3"></a>
        <table class="c11">
            <tr class="c9">
                <td class="c53" colspan="1" rowspan="1">
                    <p class="c4"><span class="c38">S.No.</span></p>
                </td>
                <td class="c65" colspan="1" rowspan="1">
                    <p class="c4"><span class="c38">Type of the source</span></p>
                </td>
                <td class="c193" colspan="1" rowspan="1">
                    <p class="c4"><span class="c38">AMOUNT (INR)</span></p>
                </td>
                <td class="c137" colspan="1" rowspan="1">
                    <p class="c4"><span class="c38">REMARKS</span></p>
                </td>
            </tr>
            <tr class="c9">
                <td class="c53" colspan="1" rowspan="1">
                    <p class="c4"><span class="c2">1</span></p>
                </td>
                <td class="c65" colspan="1" rowspan="1">
                    <p class="c8"><span class="c2">Association Amt. (from the surplus if any)</span></p>
                </td>
                <td class="c67" colspan="1" rowspan="1">
                    <p class="c0"><span class="c2"></span></p>
                </td>
                <td class="c123" colspan="1" rowspan="1">
                    <p class="c0"><span class="c2"></span></p>
                </td>
            </tr>
            <tr class="c9">
                <td class="c53" colspan="1" rowspan="1">
                    <p class="c4"><span class="c2">2</span></p>
                </td>
                <td class="c65" colspan="1" rowspan="1">
                    <p class="c8"><span class="c2">Registration fees</span></p>
                </td>
                <td class="c67" colspan="1" rowspan="1">
                    <p class="c0"><span class="c2"></span></p>
                </td>
                <td class="c123" colspan="1" rowspan="1">
                    <p class="c0"><span class="c2"></span></p>
                </td>
            </tr>
            <tr class="c9">
                <td class="c53" colspan="1" rowspan="1">
                    <p class="c4"><span class="c2">3</span></p>
                </td>
                <td class="c65" colspan="1" rowspan="1">
                    <p class="c8"><span class="c2">Grants / Sponsorship </span></p>
                </td>
                <td class="c67" colspan="1" rowspan="1">
                    <p class="c0"><span class="c2"></span></p>
                </td>
                <td class="c123" colspan="1" rowspan="1">
                    <p class="c0"><span class="c2"></span></p>
                </td>
            </tr>
            <tr class="c9">
                <td class="c53" colspan="1" rowspan="1">
                    <p class="c4"><span class="c2">4</span></p>
                </td>
                <td class="c65" colspan="1" rowspan="1">
                    <p class="c8"><span class="c2">Management </span></p>
                </td>
                <td class="c67" colspan="1" rowspan="1">
                    <p class="c0"><span class="c2"></span></p>
                </td>
                <td class="c123" colspan="1" rowspan="1">
                    <p class="c0"><span class="c2"></span></p>
                </td>
            </tr>
            <tr class="c9">
                <td class="c53" colspan="1" rowspan="1">
                    <p class="c4"><span class="c2">5</span></p>
                </td>
                <td class="c65" colspan="1" rowspan="1">
                    <p class="c8"><span class="c2">Any other</span></p>
                </td>
                <td class="c67" colspan="1" rowspan="1">
                    <p class="c0"><span class="c2"></span></p>
                </td>
                <td class="c123" colspan="1" rowspan="1">
                    <p class="c0"><span class="c2"></span></p>
                </td>
            </tr>
            <tr class="c9">
                <td class="c212" colspan="2" rowspan="1">
                    <p class="c4"><span class="c38">Total</span></p>
                </td>
                <td class="c67" colspan="1" rowspan="1">
                    <p class="c0"><span class="c2"></span></p>
                </td>
                <td class="c123" colspan="1" rowspan="1">
                    <p class="c0"><span class="c2"></span></p>
                </td>
            </tr>
        </table>
        <p class="c0"><span class="c107"></span></p>
        <p class="c8"><span class="c38">c) Academic Year Budget &nbsp;</span></p>
        <p class="c0"><span class="c107"></span></p><a id="t.470dd42f617c59f585f1c639a45d6bd53ef41b57"></a><a id="t.4"></a>
        <table class="c11">
            <tr class="c9">
                <td class="c39" colspan="1" rowspan="1">
                    <p class="c4"><span class="c38">S.No.</span></p>
                </td>
                <td class="c110" colspan="1" rowspan="1">
                    <p class="c4"><span class="c38">Details</span></p>
                </td>
                <td class="c173" colspan="1" rowspan="1">
                    <p class="c4"><span class="c38">ESTIMATED</span></p>
                </td>
                <td class="c127" colspan="1" rowspan="1">
                    <p class="c4"><span class="c38">ACTUAL</span></p>
                </td>
                <td class="c63" colspan="1" rowspan="1">
                    <p class="c4"><span class="c38">REMARKS</span></p>
                </td>
            </tr>
            <tr class="c9">
                <td class="c39" colspan="1" rowspan="1">
                    <p class="c4"><span class="c2">1</span></p>
                </td>
                <td class="c110" colspan="1" rowspan="1">
                    <p class="c8"><span class="c2">Budget allotted for year _________</span></p>
                </td>
                <td class="c89" colspan="1" rowspan="1">
                    <p class="c0"><span class="c2"></span></p>
                </td>
                <td class="c106" colspan="1" rowspan="1">
                    <p class="c0"><span class="c2"></span></p>
                </td>
                <td class="c103" colspan="1" rowspan="1">
                    <p class="c0"><span class="c2"></span></p>
                </td>
            </tr>
            <tr class="c9">
                <td class="c39" colspan="1" rowspan="1">
                    <p class="c4"><span class="c2">2</span></p>
                </td>
                <td class="c110" colspan="1" rowspan="1">
                    <p class="c8"><span class="c2">Balance amount of the budget</span></p>
                </td>
                <td class="c89" colspan="1" rowspan="1">
                    <p class="c0"><span class="c2"></span></p>
                </td>
                <td class="c106" colspan="1" rowspan="1">
                    <p class="c0"><span class="c2"></span></p>
                </td>
                <td class="c103" colspan="1" rowspan="1">
                    <p class="c0"><span class="c2"></span></p>
                </td>
            </tr>
            <tr class="c9">
                <td class="c39" colspan="1" rowspan="1">
                    <p class="c4"><span class="c2">3</span></p>
                </td>
                <td class="c110" colspan="1" rowspan="1">
                    <p class="c8"><span class="c2">Amount required</span></p>
                </td>
                <td class="c89" colspan="1" rowspan="1">
                    <p class="c0"><span class="c2"></span></p>
                </td>
                <td class="c106" colspan="1" rowspan="1">
                    <p class="c0"><span class="c2"></span></p>
                </td>
                <td class="c103" colspan="1" rowspan="1">
                    <p class="c0"><span class="c2"></span></p>
                </td>
            </tr>
            <tr class="c9">
                <td class="c39" colspan="1" rowspan="1">
                    <p class="c4"><span class="c2">4</span></p>
                </td>
                <td class="c110" colspan="1" rowspan="1">
                    <p class="c8"><span class="c2">Balance amount (2) &ndash; (3)</span></p>
                </td>
                <td class="c89" colspan="1" rowspan="1">
                    <p class="c0"><span class="c2"></span></p>
                </td>
                <td class="c106" colspan="1" rowspan="1">
                    <p class="c0"><span class="c2"></span></p>
                </td>
                <td class="c103" colspan="1" rowspan="1">
                    <p class="c0"><span class="c2"></span></p>
                </td>
            </tr>
        </table>
        <p class="c8"><span class="c2">Date:</span></p>
        <p class="c0"><span class="c57"></span></p>
        <p class="c8"><span class="c34">&nbsp;STAFF (I/C) &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; HOD &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; HEAD- IQAC &nbsp;
                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                &nbsp; &nbsp; &nbsp;PRINCIPAL &nbsp; &nbsp;</span></p>
        <p class="c0"><span class="c54"></span></p>
        <p class="c0"><span class="c54"></span></p>
        <p class="c8"><span class="c34">HEAD FINANCE &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                DIRECTOR-ADMIN&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;CHAIRMAN
                / CORRESPONDENT</span></p>
        <p class="c0"><span class="c107"></span></p>
        <p class="c0"><span class="c228"></span></p><a id="t.52b4bc415dd9b36b83988d291f95d78a714ef3b4"></a><a id="t.5"></a>
        <table class="c37">
            <tr class="c82">
                <td class="c55" colspan="5" rowspan="1">
                    <p class="c4"><span class="c29">CHECK LIST OF THE FUNCTION</span></p>
                    <p class="c4 c17"><span class="c235"></span></p>
                    <p class="c4 c17"><span class="c116"></span></p>
                    <p class="c8"><span class="c38">B) IMMEDIATELY AFTER &nbsp;FUNCTION:</span></p>
                    <p class="c8"><span class="c38">I &nbsp;Brief about objectives / outcome achieved through the event
                        </span></p>
                </td>
                <td class="c146" colspan="1" rowspan="1">
                    <p class="c4 c17"><span class="c18"></span></p>
                </td>
            </tr>
            <tr class="c128">
                <td class="c55" colspan="5" rowspan="1">
                    <p class="c4"><span
                            style="overflow: hidden; display: inline-block; margin: 0.00px 0.00px; border: 0.00px solid #000000; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px); width: 663.00px; height: 78.13px;"><img
                                alt="" src="images/image1.png"
                                style="width: 663.00px; height: 78.13px; margin-left: 0.00px; margin-top: 0.00px; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px);"
                                title=""></span></p>
                    <p class="c4 c17"><span class="c66"></span></p>
                    <p class="c4 c17"><span class="c66"></span></p>
                    <p class="c4 c17"><span class="c71"></span></p>
                </td>
                <td class="c146" colspan="1" rowspan="1">
                    <p class="c4 c17"><span class="c2"></span></p>
                </td>
            </tr>
            <tr class="c82">
                <td class="c117" colspan="5" rowspan="1">
                    <p class="c0"><span class="c2"></span></p>
                    <p class="c8"><span class="c38">II Activity &ndash; Post event &ndash; News Co-ordination </span></p>
                </td>
                <td class="c194" colspan="1" rowspan="1">
                    <p class="c0"><span class="c2"></span></p>
                </td>
            </tr>
            <tr class="c82">
                <td class="c26" colspan="1" rowspan="1">
                    <p class="c4"><span class="c38">S.</span></p>
                    <p class="c4"><span class="c38">No.</span></p>
                </td>
                <td class="c31" colspan="1" rowspan="1">
                    <p class="c4"><span class="c38">Activities</span></p>
                </td>
                <td class="c93" colspan="1" rowspan="1">
                    <p class="c4"><span class="c38">Name of the staff Dept. Incharge </span></p>
                </td>
                <td class="c40" colspan="1" rowspan="1">
                    <p class="c4"><span class="c38">Signature</span></p>
                    <p class="c4"><span class="c38">(Web Admin)</span></p>
                </td>
                <td class="c48" colspan="1" rowspan="1">
                    <p class="c4"><span class="c38">Status</span></p>
                    <p class="c4"><span class="c38">(Y/N)</span></p>
                </td>
                <td class="c100" colspan="1" rowspan="1">
                    <p class="c4"><span class="c38">Date</span></p>
                </td>
            </tr>
            <tr class="c75">
                <td class="c26" colspan="1" rowspan="1">
                    <p class="c4"><span class="c2">1</span></p>
                </td>
                <td class="c31" colspan="1" rowspan="1">
                    <p class="c8"><span class="c2">News &amp; Photo to Web Master </span></p>
                </td>
                <td class="c93" colspan="1" rowspan="1">
                    <p class="c17 c135"><span class="c2"></span></p>
                </td>
                <td class="c40" colspan="1" rowspan="1">
                    <p class="c0"><span class="c2"></span></p>
                </td>
                <td class="c48" colspan="1" rowspan="1">
                    <p class="c0"><span class="c2"></span></p>
                </td>
                <td class="c100" colspan="1" rowspan="1">
                    <p class="c0"><span class="c2"></span></p>
                </td>
            </tr>
            <tr class="c75">
                <td class="c26" colspan="1" rowspan="1">
                    <p class="c4"><span class="c2">2</span></p>
                </td>
                <td class="c31" colspan="1" rowspan="1">
                    <p class="c8"><span class="c2">News &amp; Photo to News Papers </span></p>
                </td>
                <td class="c93" colspan="1" rowspan="1">
                    <p class="c135 c17"><span class="c2"></span></p>
                </td>
                <td class="c40" colspan="1" rowspan="1">
                    <p class="c0"><span class="c2"></span></p>
                </td>
                <td class="c48" colspan="1" rowspan="1">
                    <p class="c0"><span class="c2"></span></p>
                </td>
                <td class="c100" colspan="1" rowspan="1">
                    <p class="c0"><span class="c2"></span></p>
                </td>
            </tr>
            <tr class="c75">
                <td class="c26" colspan="1" rowspan="1">
                    <p class="c4"><span class="c2">3</span></p>
                </td>
                <td class="c31" colspan="1" rowspan="1">
                    <p class="c8"><span class="c2">News &amp; Photo displayed in Notice Board</span></p>
                </td>
                <td class="c93" colspan="1" rowspan="1">
                    <p class="c135 c17"><span class="c2"></span></p>
                </td>
                <td class="c40" colspan="1" rowspan="1">
                    <p class="c0"><span class="c2"></span></p>
                </td>
                <td class="c48" colspan="1" rowspan="1">
                    <p class="c0"><span class="c2"></span></p>
                </td>
                <td class="c100" colspan="1" rowspan="1">
                    <p class="c0"><span class="c2"></span></p>
                </td>
            </tr>
            <tr class="c75">
                <td class="c26" colspan="1" rowspan="1">
                    <p class="c4"><span class="c2">4</span></p>
                </td>
                <td class="c31" colspan="1" rowspan="1">
                    <p class="c8"><span class="c2">Account settlement</span></p>
                </td>
                <td class="c93" colspan="1" rowspan="1">
                    <p class="c135 c17"><span class="c2"></span></p>
                </td>
                <td class="c40" colspan="1" rowspan="1">
                    <p class="c0"><span class="c2"></span></p>
                </td>
                <td class="c48" colspan="1" rowspan="1">
                    <p class="c0"><span class="c2"></span></p>
                </td>
                <td class="c100" colspan="1" rowspan="1">
                    <p class="c0"><span class="c2"></span></p>
                </td>
            </tr>
        </table>
        <p class="c8"><span class="c2">Date:</span></p>
        <p class="c8"><span class="c34">&nbsp; &nbsp; &nbsp; </span></p>
        <p class="c8"><span class="c34">&nbsp;STAFF (I/C) &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; HOD &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; HEAD- IQAC &nbsp;
                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                &nbsp; &nbsp; &nbsp;PRINCIPAL &nbsp; &nbsp;</span></p>
        <p class="c0"><span class="c54"></span></p>
        <p class="c0"><span class="c98"></span></p>
        <p class="c0"><span class="c54"></span></p>
        <p class="c8"><span class="c34">HEAD FINANCE &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                DIRECTOR-ADMIN&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;CHAIRMAN
                / CORRESPONDENT</span></p>
        <p class="c17 c217"><span class="c60"></span></p>
        <p class="c8"><span
                class="c2">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
            </span><span
                style="overflow: hidden; display: inline-block; margin: 0.00px 0.00px; border: 0.00px solid #000000; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px); width: 683.00px; height: 27.80px;"><img
                    alt="" src="images/image4.png"
                    style="width: 683.00px; height: 27.80px; margin-left: 0.00px; margin-top: 0.00px; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px);"
                    title=""></span><span
                style="overflow: hidden; display: inline-block; margin: 0.00px 0.00px; border: 0.00px solid #000000; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px); width: 99.13px; height: 25.07px;"><img
                    alt="" src="images/image3.png"
                    style="width: 99.13px; height: 25.07px; margin-left: 0.00px; margin-top: 0.00px; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px);"
                    title=""></span></p>
    </div>
</body>



</html>

