* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}


.outer_container {
    display: flex;
    flex-direction: row;
}

.side_nav_container {
    background-image: url("../static/side_menu_background.jpg");
    height: 100vh;
    width: 300px;
    padding-left: 14px;
    padding-right: 14px;
}

.side_nav_container .nav_title {
    font-size: x-large;
    text-align: center;
    padding: 6px;
    margin-top: 16px;
    color: white;


}


.side_nav_container.sidebar {
    padding: 0;
    width: 100%;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
}

.sidebar {
    margin-top: 28px;

}

/* Sidebar links */
.sidebar a {
    display: block;
    color: black;
    padding: 16px;

    text-decoration: none;
}

/* Active/current link */
.sidebar a.active {
    background-color: #cbdceb5b;
    color: white;
}

/* Links on mouse-over */
.sidebar a:hover:not(.active) {
    background-color: #cbdceb13;
    color: white;
}

.details_container {
    width: 100%;
    height: auto;
}

.details_container .top_header {
    display: flex;
    justify-content: space-between;
    padding: 8px;
    height: 8vh;
    justify-items: center;
    border: #afafaf 0.5px solid;
    align-items: center;
    border-style: outset;
}

.top_header .btns_container {
    display: flex;
    flex-direction: row;
    gap: 4px;
}

.details_container .top_header .logout_btn {
    padding: 6px 14px 6px 14px;
    background-color: #11304D;
    /* border: none; */
    color: white;
    border: transparent solid 1px;

    border-radius: 4px;
    font-weight: 400;

}

.details_container .logout_btn:hover {

    background-color: transparent;
    border: #11304D solid 1px;
    color: #11304D;

}

.details_container .inner_details_container {


    height: 92vh;
    overflow-y: scroll;
    display: flex;
    padding: 8px;
}

.inner_details_container .dept_card {

    display: flex;
    flex-direction: column;
    padding: 6px;
    padding-top: 0;
    border: #8B8B8B solid 0.7px;
    border-radius: 4px;
    width: 290px;
    height: 248px;

}

.dept_card .dept_title {

    font-size: 12px;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 6px;


}

.dept_card .regis_events {

    display: flex;
    flex-direction: column;
    margin-top: 16px;
}

.regis_events .total_regis {
    font-size: 32px;
    color: #11304D;
}

.dept_card .event_status {

    display: flex;
    flex-direction: row;
    margin-top: 24px;
    gap: 30px;
    margin-bottom: 18px;

}



.event_status .comp_ev,
.not_comp_ev,
.reported_ev {
    display: flex;
    flex-direction: column;
    font-size: 12px;
    align-items: center;

}

.status_no {
    font-size: 20px;
}

.dept_card .view_det_txt {
    color: steelblue;
    font-size: 12px;
    align-self: center;
    padding-top: 4px;
}